<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.26.0" targetFramework="net46" />
  <package id="MsgPack.Cli" version="0.7.1" targetFramework="net46" />
  <package id="NetMQ" version="4.0.0-rc5" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net40" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net40" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net40" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net40" />
  <package id="VVVV.Core" version="34.104.0-develop-1603" targetFramework="net46" />
  <package id="VVVV.Packs.Message" version="2.6.2-alpha" targetFramework="net46" />
  <package id="VVVV.Packs.Time" version="0.6" targetFramework="net451" />
  <package id="VVVV.PluginInterfaces" version="34.104.0-develop-1603" targetFramework="net46" />
  <package id="VVVV.SlimDX" version="1.0.3" targetFramework="net46" />
  <package id="VVVV.System.ComponentModel.Composition.Codeplex" version="2.5.0" targetFramework="net40" />
  <package id="VVVV.Utils" version="34.104.0-develop-1603" targetFramework="net46" />
</packages>